.spinner {
	width: 44.8px;
	height: 44.8px;
	animation: spinner-y0fdc1 2s infinite ease;
	transform-style: preserve-3d;
}

.spinner > div {
	background-color: rgba(71,75,255,0.2);
	height: 100%;
	position: absolute;
	width: 100%;
	border: 2.2px solid #474bff;
}

.spinner div:nth-of-type(1) {
	transform: translateZ(-22.4px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
	transform: rotateY(-270deg) translateX(50%);
	transform-origin: top right;
}

.spinner div:nth-of-type(3) {
	transform: rotateY(270deg) translateX(-50%);
	transform-origin: center left;
}

.spinner div:nth-of-type(4) {
	transform: rotateX(90deg) translateY(-50%);
	transform-origin: top center;
}

.spinner div:nth-of-type(5) {
	transform: rotateX(-90deg) translateY(50%);
	transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
	transform: translateZ(22.4px);
}

@keyframes spinner-y0fdc1 {
	0% {
		transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
	}

	50% {
		transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
	}

	100% {
		transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
	}
}


.loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1060;
	opacity: 0;
	transition: opacity 0.3s ease;
	pointer-events: auto;

	.spinner-border {
		transform: scale(1.2);
		animation: fadeInSpinner 0.3s ease forwards;
	}
}

.loading-overlay.non-blocking {
	pointer-events: none;
}

.loading-overlay.show {
	opacity: 1;
}

@keyframes fadeInSpinner {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1.2);
	}
}
